<!DOCTYPE html>
<html>
<head>
<style>
h1 {color:white; background-color:blue}
h2 {float: right; clear: right}
h3 {float: left; clear: left;color:blue}
p {float: left; clear: left}
footer {float: left; clear: left}
</style>
</head>
<body>

</body>
</html>
